<div id="<%= dom_id data_source %>">
  <p>
    <strong>Title:</strong>
    <%= data_source.title %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= data_source.detail %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= data_source.url %>
  </p>

</div>
