<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <p>
    <strong>Policy:</strong>
    <%= document.policy_id %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= document.detail %>
  </p>

</div>
