<p style="color: green"><%= notice %></p>

<h1>Policies</h1>

<div id="policies">
  <% @policies.each do |policy| %>
    <%= render policy %>
    <p>
      <%= link_to "Show this policy", policy %>
    </p>
  <% end %>
</div>

<%= link_to "New policy", new_policy_path %>
